<form method="post" action="{{ path('bank_csv_delete', {'id': bank_csv.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bank_csv.id) }}">
    <button class="btn">Delete</button>
</form>
