{% extends 'base.html.twig' %}

{% block title %}Edit BankCsv{% endblock %}

{% block body %}
    <h1>Edit BankCsv</h1>

    {{ include('bank_csv/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('bank_csv_index') }}">back to list</a>

    {{ include('bank_csv/_delete_form.html.twig') }}
{% endblock %}
