{% extends 'base.html.twig' %}

{% block title %}BankCsv index{% endblock %}

{% block body %}
    <h1>BankCsv index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>FileName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bank_csv in bank_csvs %}
            <tr>
                <td>{{ bank_csv.id }}</td>
                <td>{{ bank_csv.name }}</td>
                <td>{{ bank_csv.fileName }}</td>
                <td>
                    <a href="{{ path('bank_csv_show', {'id': bank_csv.id}) }}">show</a>
                    <a href="{{ path('bank_csv_edit', {'id': bank_csv.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bank_csv_new') }}">Create new</a>
{% endblock %}
