{% extends 'base.html.twig' %}

{% block title %}New BankCsv{% endblock %}

{% block body %}
    <h1>Create new BankCsv</h1>

    {{ include('bank_csv/_form.html.twig') }}

    <a href="{{ path('bank_csv_index') }}">back to list</a>
{% endblock %}
