{% extends 'base.html.twig' %}

{% block title %}BankCsv{% endblock %}

{% block body %}
    <h1>BankCsv</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bank_csv.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ bank_csv.name }}</td>
            </tr>
            <tr>
                <th>FileName</th>
                <td>{{ bank_csv.fileName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('bank_csv_index') }}">back to list</a>

    <a href="{{ path('bank_csv_edit', {'id': bank_csv.id}) }}">edit</a>

    {{ include('bank_csv/_delete_form.html.twig') }}
{% endblock %}
