{% extends "base.html.twig" %}
{% block title %}Bank stuff{% endblock %}

{% block body %}
    <!-- Masthead -->
    <header class="masthead text-center">
        <div class="overlay"></div>
        <div id="drop-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <h1 class="mb-5">Drag'n drop ton fichier CSV</h1>
                    </div>
                    <div class="col-xl-9 mx-auto">
                        {{ form_start(form) }}
                            <div class="form-row">
                                <div class="col-12 pb-2">
                                    {{ form_widget(form.csv) }}
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-block btn-lg btn-secondary">Go!
                                    </button>
                                </div>
                            </div>
                        {{ form_end(form) }}
                    </div>
                    <div id="gallery" class="col-xl-9 mx-auto"></div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}