<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('entry_index') }}">Entrées</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#{{ path('bank_csv_index') }}">Fichiers ajoutés</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="{{ path('home') }}">
            <img src="{{ asset('build/images/bank.png') }}" width="30" height="30" class="d-inline-block align-top"
                 alt="">
            CSV Bank
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('categorygroup_index') }}">
                    Groupes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('category_index') }}">
                    Catégories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('account_index') }}">Comptes</a>
            </li>
        </ul>
    </div>
</nav>