{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <header class="masthead text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <form method="post">

                        <div class="form-row">
                            <div class="col-12 pb-2">
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                {% if app.user %}
                                    <div class="mb-3">
                                        You are logged in as {{ app.user.username }}, <a
                                                href="{{ path('app_logout') }}">Logout</a>
                                    </div>
                                {% endif %}
                            </div>

                            <div class="col-12 pb-2">
                                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                            </div>

                            <div class="col-12 pb-2">
                                <label for="inputEmail">Email</label>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                       class="form-control"
                                       required autofocus>
                            </div>

                            <div class="col-12 pb-2">
                                <label for="inputPassword">Password</label>
                                <input type="password" name="password" id="inputPassword" class="form-control" required>
                            </div>
                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >

                            {#
                            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                            See https://symfony.com/doc/current/security/remember_me.html

                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Remember me
                                </label>
                            </div>
                            #}

                            <div class="col-12 pb-2">
                                <button class="btn btn-lg btn-primary" type="submit">
                                    Sign in
                                </button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
