{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
<section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
    <h1>Liste des catégories</h1>

            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <table class="table table-striped table-bordered table-light">
                    <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a class="btn btn-secondary" href="{{ path('category_show', {'id': category.id}) }}">show</a>
                    <a class="btn btn-secondary" href="{{ path('category_edit', {'id': category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('category_new') }}">Ajouter</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
