{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
<section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1>Category</h1>

            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <table class="table table-striped table-bordered table-light">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ category.id }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ category.name }}</td>
                    </tr>
                    </tbody>
                </table>

                <a class="btn btn-primary" href="{{ path('category_index') }}">back to list</a>

                <a class="btn btn-primary" href="{{ path('category_edit', {'id': category.id}) }}">edit</a>

                {{ include('category/_delete_form.html.twig') }}

            </div>
        </div>
    </div>
    {% endblock %}
