{% extends 'base.html.twig' %}

{% block title %}Entry index{% endblock %}

{% block body %}
    <h1>Entry index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>Amount</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in entries %}
            <tr>
                <td>{{ entry.id }}</td>
                <td>{{ entry.name }}</td>
                <td>{{ entry.type }}</td>
                <td>{{ entry.amount }}</td>
                <td>
                    <a href="{{ path('entry_show', {'id': entry.id}) }}">show</a>
                    <a href="{{ path('entry_edit', {'id': entry.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('entry_new') }}">Create new</a>
{% endblock %}
