{% extends 'base.html.twig' %}

{% block title %}New Entry{% endblock %}

{% block body %}
    <h1>Create new Entry</h1>

    {{ include('entry/_form.html.twig') }}

    <a href="{{ path('entry_index') }}">back to list</a>
{% endblock %}
