{% extends 'base.html.twig' %}

{% block title %}Entry{% endblock %}

{% block body %}
    <h1>Entry</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entry.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entry.name }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entry.type }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ entry.amount }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('entry_index') }}">back to list</a>

    <a href="{{ path('entry_edit', {'id': entry.id}) }}">edit</a>

    {{ include('entry/_delete_form.html.twig') }}
{% endblock %}
