{% extends 'base.html.twig' %}

{% block title %}CategoryGroup index{% endblock %}

{% block body %}
    <h1>CategoryGroup index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category_group in category_groups %}
            <tr>
                <td>{{ category_group.id }}</td>
                <td>{{ category_group.name }}</td>
                <td>
                    <a href="{{ path('category_group_show', {'id': category_group.id}) }}">show</a>
                    <a href="{{ path('category_group_edit', {'id': category_group.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('category_group_new') }}">Create new</a>
{% endblock %}
