{% extends 'base.html.twig' %}

{% block title %}New CategoryGroup{% endblock %}

{% block body %}
    <h1>Create new CategoryGroup</h1>

    {{ include('category_group/_form.html.twig') }}

    <a href="{{ path('category_group_index') }}">back to list</a>
{% endblock %}
