{% extends 'base.html.twig' %}

{% block title %}CategoryGroup{% endblock %}

{% block body %}
    <h1>CategoryGroup</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category_group.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ category_group.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('category_group_index') }}">back to list</a>

    <a href="{{ path('category_group_edit', {'id': category_group.id}) }}">edit</a>

    {{ include('category_group/_delete_form.html.twig') }}
{% endblock %}
