body {
  @include body-font;
  color: $gray-700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include body-font;
  font-weight: 700;
}

.navbar, .footer {
  color: $gray-100;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: $primary !important;
}

