header.masthead {
  position: relative;
  background: $light;
  .container {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .highlight {
    background-color: $gray-900;
    opacity: 0.5;
  }
  #gallery {
    margin-top: 10px;
  }
  #gallery img {
    height: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
  }
  h1 {
    font-size: 2rem;
  }
  @media (min-width: 768px) {
    h1 {
      font-size: 3rem;
    }
  }
}
