// Variables

// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #819cb3 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #828AD6 !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #CB5948 !default;
$orange: #fd7e14 !default;
$yellow: #F1D597 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$primary: $yellow !default;
$secondary: #A69077 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: #955761 !default;
$light: #EAE8DD !default;
$dark: #3C3942 !default;
