{% extends 'base.html.twig' %}

{% block title %}Edit Account{% endblock %}

{% block body %}
    <section class="call-to-action text-center">
        <div class="container">
            <div class="row">
                <div class="col-6 col-lg-4 d-flex justify-content-start align-items-center">
                    <h1>Editer</h1>
                </div>
                <div class="col-6 col-lg-4 d-flex justify-content-end align-items-center">
                    {{ include('account/_delete_form.html.twig') }}
                </div>

                <div class="col-12 col-lg-8 bg-white p-5 rounded shadow-sm">

                    {{ include('account/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
                    <small>
                        <a class="text-secondary" href="{{ path('account_index') }}">Revenir à la liste</a>
                    </small>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
