{% extends 'base.html.twig' %}

{% block title %}Account index{% endblock %}

{% block body %}
    <section class="call-to-action text-center">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-6 col-lg-4 d-flex justify-content-start align-items-center">
                    <h1>Liste des comptes</h1>
                </div>
                <div class="col-6 col-lg-4 d-flex justify-content-end align-items-center">
                    <a class="btn btn-primary" href="{{ path('account_new') }}">
                        <i class="fas fa-plus-circle"></i>
                    </a>
                </div>
                <div class="col-12 col-lg-8 bg-white p-5 rounded shadow-sm">
                    <table class="table table-striped table-bordered table-light">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Type</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for account in accounts %}
                            <tr>
                                <td scope="row">{{ account.id }}</td>
                                <td>{{ account.name }}</td>
                                <td>{{ account.type }}</td>
                                <td>
                                    <a class="btn btn-outline-secondary" href="{{ path('account_show', {'id': account.id}) }}">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                    <a class="btn btn-outline-secondary" href="{{ path('account_edit', {'id': account.id}) }}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">Rien trouvé.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
