{% extends 'base.html.twig' %}

{% block title %}New Account{% endblock %}

{% block body %}
    <section class="call-to-action text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                <h1>Ajouter un nouveau compte</h1>

                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                {{ include('account/_form.html.twig') }}
                    <small>
                        <a href="{{ path('account_index') }}">Revenir à la liste</a>
                    </small>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
