{% extends 'base.html.twig' %}

{% block title %}{{ account.name }}{% endblock %}

{% block body %}
    <section class="call-to-action text-center">
        <div class="container">
            <div class="row">
                <div class="col-6 d-flex justify-content-start align-items-center">

                    <h1>{{ account.name }}</h1>
                </div>
                <div class="col-6 d-flex justify-content-end align-items-center">
                    <a class="btn btn-outline-primary mr-1" href="{{ path('account_edit', {'id': account.id}) }}"><i class="fas fa-edit"></i></a>
                    {{ include('account/_delete_form.html.twig') }}
                </div>
                <div class="col-12 table-responsive">
                    <table class="table table-striped table-bordered table-light">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ account.id }}</td>
                        </tr>
                        <tr>
                            <th>Nom</th>
                            <td>{{ account.name }}</td>
                        </tr>
                        <tr>
                            <th>Type</th>
                            <td>{{ account.type }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <small>
                        <a class="text-secondary" href="{{ path('account_index') }}">
                            Retour à la liste
                        </a>
                    </small>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
